html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
body {
  display: flex;
  flex-direction: column;
  background-color: rgb(44, 44, 97);
  color: palevioletred;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
h1 {
  margin: 20px;
}

.photo {
  border-radius: 50%;
  width: 15%;
}

.bio {
  background-color: aliceblue;
  width: 40%;
  color: purple;
  padding: 20px;
  text-align: center;
  font-size: larger;
  flex-grow: 1;
  margin: 10px;
}
a {
  text-decoration: none;
  color: aliceblue;
  padding: 10px;
}
