html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
body {
  max-width: 100vw;
  background-color: rgb(252, 252, 130);
  color: dimgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}
header {
  width: 100vw;
  position: fixed;
  background-color: dimgrey;
  padding: 20px;
  top: 0px;
  display: flex;
  justify-content: space-between;
}
.icon {
  align-self: flex-end;
}
a {
  text-decoration: none;
}
a .profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

main {
  text-align: center;
  width: 100vmin;
  display: block;
  margin-top: 90px;
  padding: 0 10px 0 10px;
}

h1 {
  font-family: 'Montserrat', sans-serif, bold;
  text-align: center;
}
p {
  letter-spacing: 2px;
  line-height: 30px;
}

.photo {
  border-radius: 10px 10px 0 0;
  width: 100%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
}

.bio {
  background-color: aliceblue;
  color: dimgrey;
  font-family: 'Montserrat', sans-serif;
  border-radius: 0 0 10px 10px;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: larger;
  flex-grow: 1;
  margin: 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}
a {
  text-decoration: none;
  color: aliceblue;
  padding: 10px;
}

@media (min-width: 640px) {
  main {
    width: 60vmax;
  }
}
@media (min-width: 960px) {
  main {
    width: 50vmax;
    margin-left: auto;
    margin-right: auto;
  }
}
