html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
header {
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon {
  align-self: flex-end;
}
a {
  text-decoration: none;
}
a .profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

main {
  text-align: center;
  width: 90vw;
  display: block;
}
.toProfile {
  border: salmon solid 1px;
  background-color: aquamarine;
  color: blueviolet;
  width: 100px;
  padding: 5px;
  margin: 15px;
}
.teamPic {
  width: 100%;
  border-radius: 25%;
}

@media (min-width: 640px) {
  main {
    width: 70vmax;
  }
}
@media (min-width: 960px) {
  main {
    width: 60vmax;
    margin-left: auto;
    margin-right: auto;
  }
}
