html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon {
  align-self: flex-end;
}
a {
  text-decoration: none;
}
a .profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.toProfile {
  border: salmon solid 1px;
  width: 300px;
  padding: 5px;
}
